body {
	font-family : "Helvetica Neue", sans-serif;
}

.row-centered {
   display: flex;
   align-items: center;
}

.et_pb_row_fullwidth .et_pb_column_4_4 {
	padding : 0px !important;
}

.et_pb_row {
	@extend .row;
}

.et_pb_column_1_1 {
	@extend .col-md-12;
}

.et_pb_column_1_2 {
	@extend .col-md-6;
}

.et_pb_column_1_3 {
	@extend .col-md-4;
}

.et_pb_column_1_4 {
	@extend .col-md-3;
}

.et_pb_column_2_3 {
	@extend .col-md-8;
}

.et_pb_column_3_4 {
	@extend .col-md-9;
}

.et_pb_column_4_4 {
	@extend .col-md-12;
}

.content-area {
	@extend .container;
}

.site-main {
	@extend .row;
}

.et_divi_builder #et_builder_outer_content .et_pb_row {
	padding : 0px !important;
}

.et_divi_builder #et_builder_outer_content .et_pb_module li {
	margin-bottom : 0px;
}

.texto-rosa {
	color: #b74164;
}

.texto-cinza {
	color: #939597;
}

.title-primary {
	font-family: 'hugs_and_kisses_xoxo_demoRg';
	font-size : 42px;
	color: #b74164;
}
.banners {
	margin-top: 38px;
    margin-bottom: 85px;
}

.testimontial {
	background: url('../images/bg-testimontial.jpg') center top no-repeat;
	height : 635px;
	padding-top : 50px;
}


.newsletters {
	margin : 50px 0 80px;
}

.newsletters .gfield_label {
	display : none;
}

.newsletters .gfield {
	list-style : none;
}

.newsletters input[type="text"] {
	width : 100%;
	border : 1px solid #939597;
	padding :10px;
	border-radius : 40px;
}

.newsletters input[type="text"]::-webkit-input-placeholder {
    font-family: 'hugs_and_kisses_xoxo_demoRg';
    font-size : 27px;
}

.newsletters input[type="text"]:-moz-placeholder { /* Firefox 18- */
    font-family: 'hugs_and_kisses_xoxo_demoRg';
    font-size : 27px;
    color : #939597; 
}

.newsletters input[type="text"]::-moz-placeholder {  /* Firefox 19+ */
    font-family: 'hugs_and_kisses_xoxo_demoRg';
    font-size : 27px;
    color : #939597;
}

.newsletters input[type="text"]:-ms-input-placeholder {  
    font-family: 'hugs_and_kisses_xoxo_demoRg'; 
    font-size : 27px;
    color : #939597;
}

.newsletters .gform_button {
	@extend .icon-arrow-blue-right;
	@extend .sprite;
	background-color : transparent;
	border : 0px;
	text-indent: -9999px;
	float : right;
	margin-top : -41px;
	z-index: 9999;
	position: relative;
}

.list-testimontial {
	background: url("../images/content-testimontial.png") top center no-repeat;
    background-size: contain;
    width: 100%;
    height: 300px;
    margin-top: 22px;
}

.second-sidebar-banner {
	margin : 8px 0;
}

.navigation-carousel {
	top: -100px;
    position: absolute;
    right: 0;
}