body {
	font-family : "Helvetica Neue", sans-serif;
}

.row-centered {
   display: flex;
   align-items: center;
}

.et_pb_row_fullwidth .et_pb_column_4_4 {
	padding : 0px !important;
}

.et_pb_row {
	@extend .row;
}

.et_pb_column_1_1 {
	@extend .col-md-12;
}

.et_pb_column_1_2 {
	@extend .col-md-6;
}

.et_pb_column_1_3 {
	@extend .col-md-4;
}

.et_pb_column_1_4 {
	@extend .col-md-3;
}

.et_pb_column_2_3 {
	@extend .col-md-8;
}

.et_pb_column_3_4 {
	@extend .col-md-9;
}

.et_pb_column_4_4 {
	@extend .col-md-12;
}

.content-area {
	@extend .container;
}

.site-main {
	@extend .row;
}

.et_divi_builder #et_builder_outer_content .et_pb_row {
	padding : 0px !important;
}

.et_divi_builder #et_builder_outer_content .et_pb_module li {
	margin-bottom : 0px;
}

.texto-rosa {
	color: #b74164;
}

.texto-cinza {
	color: #939597;
}
